# Data Science Tools and Ecosystem
This is an exercise By IBM to summarize Data science Tools and Ecosystem

Popular Data Science Languages used For Coding includes: 
1. Python
2. R
3. SQL
4. Julia

Popular Data Science Libraries:

1.Pandas| Data Science Tools :

2.NumPY

3.Matplotlib

4.Ploty

| Data Science Tools |
|--------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Sparke     |

### Introducing Arithmetic Expression Examples

In [8]:
# this is an arthmetic experssion to mulitple 3 by 4 and then adding 5
Answer = (3*4) +5
print(Answer)

17

In [9]:
# for this Execrice we are going to covvert 200 minutes into hours with simple Arthmetic Experssions
Minutes = 200
Hours = Minutes/60
print(Minutes)
print(Hours)

200
3.3333333333333335

The List of the Objectives:

- Getting Familiar with Jupyter Notebook
- Remembering Data Science Languages, Tools, and Libraries
- Creating Equations in Python

## Author : Ali Yazji